---
layout: page
title: Innovación tecnológica
permalink: /
msg-top:
 title: Innovación Tecnológica
 msg: Desarrollo de Software, Electrónica y aplicaciones móviles
msg-foot:
 title: SOMOS INNOVADORES, CREEMOS QUE ES POSIBLE.
 msg: Buscamos soluciones creativas a los problemas y las llevamos a la práctica
---

<!-- QUE HACEMOS -->
<header id="header-viewport">
  <section id="hi-iam" class="block bg-white">
    <div class="container">
      <div class="row align-items-center text-center p-3 mb-5 mt-5">
        <div class="col-12 ml-auto">
          <h1 id="name-header">
            ¿QUÉ HACEMOS?
          </h1>
          <p>
            Diseñamos y desarrollamos soluciones que soluciónan problemas reales.
          </p>
        </div>
      </div>
    </div>
  </section>
</header>

<div class="container w">
   <div class="row text-center">
      <div class="col-lg-6">
         <i class="fa fa-code"></i>
         <h4>DESARROLLO DE SOFTWARE Y SISTEMAS</h4>
         <p>Contamos con experiencia en el desarrollo de software para diferentes
        plataformas, realizamos <strong><a href="/aplicaciones-moviles" title="Movile apps">aplicaciones móviles</a></strong>,
        aplicaciones de escritorio, <strong>software a medida</strong> para
        <strong>Linux</strong>, Windows, ARM, etc. Realizamos integraciones
        con las API de <strong>Facebook SDK, Twitter, Instagram</strong>, y cualquier otra API
      necesaria para mejorar los servicios ofrecidos.</p>
      </div><!-- col-lg-6 -->

      <div class="col-lg-6">
         <i class="fa fa-gear"></i>
         <h4>DISEÑO DE HARDWARE ELECTRONICA</h4>
         <p>
            Diseñamos circuitos que se adaptan a los requerimientos establecidos
            por el cliente, acompañado de buenas prácticas y control en todo
            el proceso. Nuestro equipo de ingenieros electrónicos dispone de las más avanzadas
            tecnologías y conocimientos para el diseño a medida de equipos y circuitos electrónicos, como asi tambien la
            integración con diferentes sistemas.
            Para acelerar los tiempos de los proyectos y en proyectos de baja escala  nos apoyamos en proyectos electrónicos de <strong>hardware libre</strong>, ampliamente
            aceptados y testeados como ser <strong>Raspberry Pi, Arduino, BeagleBone, Mojo(FPGA's)</strong>
         </p>
      </div><!-- col-lg-6 -->
   </div><!-- row -->
   <!-- <div class="row text-center">
      <p><a href="#contacto" class="btn btn-default">Mas Servicios</a>  <a href="#contacto" class="btn btn-default">Portfolio</a></p>
   </div> -->
</div><!-- QUE HACEMOS -->


   <div id="quienessomos" class="lg">
   	<div class="container">
   		<div class="row">
   			<div class="col-lg-8 offset-lg-2 text-center">
   				<h4 class="brand">INGER<i class="fa fa-circle"></i>S</h4>
   				<p>
                  Somos una empresa localizada en Rosario, enfocada en brindar
                  soluciones basadas en el <strong>diseño y desarrollo de hardware y/o software</strong>,
                  nos apasiona trabajar con nuevas tecnologias, <abbr title="Internet of Things - Internet de las cosas">IoT</abbr>, Smart Cities, domotica, automatismo.
                  Garantizamos productos confiables desarrollados con
                  tecnologías de <strong>codigo abierto</strong>.
               </p>
               <p>
                  En <strong>Ingeros</strong> somos un grupo de profesionales dispuestos a enfrentar grandes desafios y crecer con cada uno de nuestros clientes, ofrenciendo soluciones innovadoras.
                  Las principales características de quienes conforman el equipo de trabajo son la pasión y compromiso, así como el estudio contínuo de las nuevas tecnologías, lo cual permite enfrentar las problemáticas actuales, desarrollando soluciones que se adapten a las necesidades modernas y que eviten utilizar tecnologías ineficientes.
                  Nuestro trabajo abarca varias etapas: desde el relevamiento de la problemática y la definición del proyecto, hasta el desarrollo del sistema electrónico e implementación del mismo.
                  Trabajamos utilizando preferentemente tecnologías de hardware y software libre. Apostamos a esta filosofía de trabajo, ofreciendo a nuestros clientes todo el desarrollo de la solución, y no solo el producto terminado.
               </p>
   			</div><!-- col-lg-4 -->
   		</div>
   	</div>
   </div>
  <!-- MISION y VISION -->
  <div class="blue">
    <div class="container">
      <div class="row text-center">
        <div class="col-lg-8 offset-lg-2 text-center">
          <h4><i class="fa fa-rocket"></i> Visión y Misión</h4>
          <p>Aspiramos a posicionarnos como referentes en la innovacion tecnologica. Pretendemos ofrecer soluciones tecnológicas que superen las expectativas de nuestros clientes.</p>
        </div><!-- col-lg-4 -->
      </div><!-- row -->
    </div>
  </div><!-- MISION y VISION -->

   <!-- Premios y Reconocimiento -->
	<div class="lg">
	    <div class="container">
		    <div class="row">
			    <div class="col-lg-8 offset-lg-2 text-center">
				    <h4>PREMIOS Y RECONOCIMIENTOS</h4>
            <div class="panel-group" id="accordion">
              <div class="panel panel-default panel-premios">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                    1° Puesto en Competencia Naves Santa Fe</a>
                  </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                  <div class="panel-body">Competencia <strong>NAVES</strong> es un evento es llevado acabo por <strong>IAE Business School</strong> y el <strong>Banco Macro</strong>.
            Naves ayuda a los emprendedores que vienen con una idea de negocio a convertirla en realidad y a las empresas nacientes a crecer y prosperar. También apoya a las empresas consolidadas que tienen nuevas iniciativas y proyectos para que puedan <strong>innovar y renovarse</strong>. </div>
                </div>
              </div>
              <div class="panel panel-default panel-premios">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                    2° Puesto en Desafio Personal "Environmental Smart Metering"</a>
                  </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                  <div class="panel-body">El reto consistia en desarrollar, en un plazo menor a 24 horas, el <strong>software y los dispositivos/sensores</strong> necesarios para la implementación de una solución para medir y geolocalizar variables de la <strong>calidad del medio ambiente</strong> y <strong>optimizar el consumo energético</strong>.</div>
                </div>
              </div>
              <div class="panel panel-default panel-premios">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                    3° Puesto en Competencia planes de Negocios De la Municipalidad de Rosario</a>
                  </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                  <div class="panel-body">La 7° <strong>Competencia de planes de negocios</strong> para emprendedores, certamen que dio inicio en mayo de este año en Rosario, con el objetivo de promover la creación de nuevas empresas con valor agregado y empleo.</div>
                </div>
              </div>
            </div>
			    </div><!-- col-lg-8 -->
		    </div>
	    </div>
	</div>
	<!-- PRENSA -->
	<div class="container w">
		<div class="row text-center">
			<h4>APARICIONES EN LOS MEDIOS</h4>
			<ul class="list-inline">
			  <li>
			    <a href="http://puntobiz.com.ar/noticias/val/108637/val_s/76/los-tres-emprendimientos-que-ganaron-la-competencia-de-planes-de-negocios.html">
			      <img class="img-maxwidth" src="assets/images/logo_puntobiz.png" alt="Los tres emprendimientos que ganaron la competencia de Planes de Negocios" title="Los tres emprendimientos que ganaron la competencia de Planes de Negocios">
			    </a>
			  </li>
			  <li>
			    <a href="https://www.santafe.gob.ar/noticias/noticia/244391/">
			      <img class="img-maxwidth" src="assets/images/logo_santafe.png" alt="FINALIZÓ LA 7° COMPETENCIA DE PLANES DE NEGOCIOS PARA EMPRENDEDORES" title="FINALIZÓ LA 7° COMPETENCIA DE PLANES DE NEGOCIOS PARA EMPRENDEDORES">
			    </a>
			  </li>
			  <li>
			    <a href="http://puntobiz.com.ar/noticias/val/106151/val_s/76/crearon-enchufe-inteligente-para-manejar-a-distancia-cualquier-electrodomestico.html">
			      <img class="img-maxwidth" src="assets/images/logo_puntobiz.png" alt="Crearon enchufe inteligente para manejar a distancia cualquier electrodoméstico" title="Crearon enchufe inteligente para manejar a distancia cualquier electrodoméstico">
			    </a>
			  </li>
			</ul>
		</div><!-- row -->
	</div><!-- PRENSA -->
	<!-- TECNOLOGÍAS -->
	<div class="lg">
		<div class="container">
			<div class="row text-center">
				<h4>TECNOLOGÍAS  QUE INTEGRAMOS</h4>
				<ul class="list-inline">
				  <li><img class="img-maxwidth" src="{{ site.url }}/assets/images/atmel_logo.png" alt="Atmel" title="Atmel"></li>
				  <li><img class="img-maxwidth" src="{{ site.url }}/assets/images/arm_logo.png" alt="ARM" title="ARM Cortex"></li>
				  <li><img class="img-maxwidth" src="{{ site.url }}/assets/images/osh_logo.png" alt="Open Source Harware" title="Open Source Hardware"></li>
				  <li><img class="img-maxwidth" src="{{ site.url }}/assets/images/Linux_logo.png" alt="Linux" title="Linux" ></li>
				  <li><img class="img-maxwidth" src="{{ site.url }}/assets/images/python_logo.png" alt="Python" title="Python"></li>
				  <li><img class="img-maxwidth" src="{{ site.url }}/assets/images/qt_logo.png" alt="Qt" title="Qt"></li>
				  <li><img class="img-maxwidth" src="{{ site.url }}/assets/images/wifi_logo.png" alt="Wifi" title="Wifi"></li>
				</ul>
			</div><!-- row -->

		</div><!-- container -->
	</div><!-- TECNOLOGÍAS -->
   <!-- Proyectos -->
	<div id="portfolio" class="container w">
	    <div class="row text-center">
		<h4>PORTFOLIO - PROYECTOS</h4>
    <!-- Tablero control fermentadores -->
     <div class="col-sm-6 col-md-4 text-justify">
         <div class="thumbnail">
          {% include picture.html img="/assets/images/tablero-fermentadores-2.jpg" alt="Tablero control fermentadoress" %}
           <div class="caption">
            <h3>Tablero control fermentadores</h3>
            <p>
               Los <b>tableros para controlar fermentadores de cerveza</b> permite lograr la repetibilidad en
               la fabricación de cerveza superando los inconvenientes que se encuentran a la hora de recrear
               estilos realizados previamente.
               El tablero cuenta con conexión WIFI y ETHERNET, por lo que usted podrá supervisar y ajustar los
               procesos desde cualquier lugar del mundo, convirtiendo su cervecería en una industria 4.0.
               El tablero modular permite ampliar sus funcionalidades a medida que su cervecería va creciendo.
            </p>
            <p><a href="/tablero-control-fermentadores" class="btn btn-primary" role="button">Ver mas</a></p>
           </div>
         </div>
      </div>
      <!-- Cartel Led -->
       <div class="col-sm-6 col-md-4 text-justify">
           <div class="thumbnail">
            {% include picture.html img="/assets/images/cartelled_3.jpg" alt="Cartel led programable" %}
             <div class="caption">
              <h3>Cartel Led Programable</h3>
              <p>
                 Desarrollamos y comercializamos <b>carteles led pasamensajes</b>. Cuentan con LEDs y electrónica de
                 gran longevidad, alta calidad y resistencia. Brindando alto brillo, luminosidad y visualización
                 desde gran distancia.
                 La principal caracteristica de estos carteles leds, radica en el desarrollo que hemos realizado
                 para lograr un producto que es facilmente configurable, modular y facilmente de integrar con otros
                 sistemas que requieran mostrar información de forma automatiza.
                 Los letreros leds que desarrollamos cuentan con un gran abanico de opciones en lo que a conectividad refiere:
                 WiFi, Ethernet, RS-232, serie, Bluetooth, etc.
                 Siendo las versiones de <b>Cartel Led WiFi</b> y Ethernet las mas demandadas, por su <strong>API REST</strong> y su panel de administración
                 que permiten una rápida y sencilla programación e integracion del cartel led.
              </p>
              <p><a href="/cartel-led-programable" class="btn btn-primary" role="button">Ver mas</a></p>
             </div>
           </div>
        </div>
        <!-- AFA App Móvil -->
        <div class="col-sm-6 col-md-4 text-justify">
            <div class="thumbnail">
              <img src="http://www.afascl.com/popup_appmovil.jpg" alt="Cartel led programable">
              <div class="caption">
               <h3>Aplicación Móvil AFA S.C.L.</h3>
               <p>
                  En conjunto a la <strong><a href="http://arenasoftware.com.ar/" title="Cooperativa de programación">Cooperativa Arena Software de Rosario</a></strong>, desarrollamos la nueva <b>aplicación movil</b> de <strong><a href="http://www.afascl.com" title="AFA SCL">AFA S.C.L</a></strong>(Agricultures Federados Argentinos Sociedad Cooperativa Limitada).
                  Esta nueva app cuenta con acceso al estado de cuenta corriente de cada uno de los asociados, cotizaciones de mercado, módulo de hacienda para lotes que estan a la venta, sección de novedades,
                  notificaciones push, logueo de usuarios, etc.
                  La <b>aplicación móvil esta desarrollada en Angular y Cordova</b>, generando una aplicación híbrida reduciendo los tiempos y recursos necesarios para desarrollar una app para cada
                  unos de los diferentes smartphones del mercado, Android, Iphone, Windows.
               </p>
			      <p><a href="https://play.google.com/store/apps/details?id=afa.diario.afascl.coop" class="btn btn-primary" role="button">Ver mas</a></p>
   			  </div>
			   </div>
		   </div>
       <!-- Turnero electronico -->
           <div class="col-sm-6 col-md-4 text-justify">
               <div class="thumbnail">
                {% include picture.html img="/assets/images/turnero-electronico-frente.jpg" alt="Turnero Electrónico" %}
                 <div class="caption">
                  <h3>Turnero Electrónico LED</h3>
                  <p>
                    Desarrollamos y vendemos turneros electrónicos digitales, únicos con WiFi evitando el uso de controles remotos.Disponible con la cantidad de dígitos que usted requiera. Los mismos integran sistema de pasamensajes, para mostrar infomación útil a las personas mientras esperan, como precios o noticias.
                    Se pueden controlar desde cualquier dispositvo que tenga un navegador web, como ser Smartphone, tablet, computadora, celular.
                  <p><a href="/turnero-electronico" class="btn btn-primary" role="button">Ver mas</a></p>
                 </div>
               </div>
            </div>
		   <!-- CotorraChatBot -->
		   <div class="col-sm-6 col-md-4 text-justify">
   			<div class="thumbnail">
   			  <img src="http://cotorrachatbot.com/assets/images/cotorrachatbot-banner.png" alt="CotorraChatBot">
   			  <div class="caption">
   			    <h3>Cotorra ChatBot</h3>
   			    <p>Cotorra es una solucion de software para atender clientes que visitan su pagina web o cualquier perfil social.
   			    Permite contestar a los clientes de forma automatica mediante un <strong>robot de chat</strong> o bien permite atender en forma
   			    live las consultas de los clientes. Cotorra se ofrece como Software as a Service(SaaS) y se basa en <strong>inteligencia artificial,
   			    machine learning, natural processing language, big data</strong>.</p>
   			    <p><a href="http://cotorrachatbot.com" class="btn btn-primary" role="button">Ver mas</a></p>
   			  </div>
   			</div>
      </div>
         <!-- PowerAlarm -->
        <div class="col-sm-6 col-md-4 text-justify">
            <div class="thumbnail">
              {% include picture.html img="/assets/images/app-alarma-corte-luz-configurar.jpg" alt="Avisador corte de luz" %}
              <div class="caption">
               <h3>Alarma Corte de Luz Aplicación Móvil</h3>
               <p>
                  Diseñado para monitorear de forma continua la presencia de energía eléctrica en la red que se conecta.
                  La <b>aplicación móvil</b> es ideal para conocer inmediatamente la falta de electricidad en cualquier hogar o negocio,
                  brindando la posibilidad a los moradores de tomar las acciones pertinentes para proteger sus bienes y evitar
                  perdidas económicas.
                  Esta app es compatible con <b>celulares Android</b>, y esta desarrollado utilizando <b>Cordova y Framework7</b>.
               </p>
                <p><a href="/avisador-corte-luz/" class="btn btn-primary" role="button">Ver mas</a></p>
              </div>
            </div>
         </div><!-- PowerAlarm -->


		    <!-- InnovaHome -->
		     <div class="col-sm-6 col-md-4 text-justify">
			<div class="thumbnail">
        {% include picture.html img="/assets/images/banner-innovahome.png" alt="InnovaHome" %}
			  <div class="caption">
			    <h3>InnovaHome</h3>
			    <p>InnovaHome es un proyecto de <strong>Internet de las cosas(IoT)</strong> aplicado al hogar, con el que buscamos convertir hogares convencionales en hogares inteligentes.
			    El proyecto consta desde del diseño y desarrollo de los dispositivos que contemplan la plataforma y una <strong>app movil</strong> desde la que se controla todo el hogar.</p>
			    <p><a href="/innovahome" class="btn btn-primary" role="button">Ver mas</a></p>
			  </div>
			</div>
		      </div><!-- InnovaHome -->
            <!-- Witmos -->
		     <div class="col-sm-6 col-md-4 text-justify">
			<div class="thumbnail">
        {% include picture.html img="/assets/images/banner_witmos.png" alt="Witmos" %}
			  <div class="caption">
			   <h3>Witmos Plataforma IoT para Ciudades Inteligentes</h3>
			   <p>
               <strong>Witmos</strong> se forma por la preocupación y el compromiso que nos genera la creciente contaminación ambiental y su consecuente deterioro en la calidad de vida.
               Desde Witmos utilizando el <b>Internet de las Cosas(Internet of Things IoT)</b> se desarrolló una plataforma compuesta por una red de <b>sensores inalambricos</b>, que
               capturan y envían los datos a la plataforma alojada en la nube, <b>aplicaciones moviles</b> y plataforma web que permiten gestionar, procesar y recabar información útil
               de los datos recopilados por los sensores.
               Todo esto permite generar una infraestructura desde la que se desarrollan dispositivos y servicios típicos de una <b>Smart City</b>.
            </p>
			    <p><a href="/witmos/" class="btn btn-primary" role="button">Ver mas</a></p>
			  </div>
			</div>
      </div><!-- Witmos -->
		      <!-- Colector -->
		     <div class="col-sm-6 col-md-4 text-justify">
			<div class="thumbnail">
        {% include picture.html img="/assets/images/colector-cf2015.jpg" alt="Colector de fracciones" %}
			  <div class="caption">
			    <h3>Colector de fracciones</h3>
			    <p>Construimos un <strong>colector de fracciones</strong>, el cual es una máquina
				automatizada para colectar de forma autónoma las fracciones que se obtienen del proceso de
				cromatografía. Es un instrumento de laboratorio que se diseño y realizo a pedido del Instituro de Biologia de Rosario, dependiente del CONICET.</p>
			    <p><a href="#" class="btn btn-primary" role="button">Ver mas</a></p>
			  </div>
			</div>
		      </div><!-- Colector -->

	    </div><!-- row -->
	</div><!-- Proyectos -->
