<!-- TECNOLOGÍAS -->
<div class="container-fluid bg-grey block">
    <div class="row justify-content-center">
        <div class="col col-md-8 text-center">
            <h4>
                TECNOLOGÍAS QUE INTEGRAMOS
            </h4>
            <ul class="list-inline">
                <li class="list-inline-item">
                    {% picture icon assets/images/atmel_logo.png
							--alt Atmel Logo
						%}
                </li>
                <li class="list-inline-item">
                    {% picture icon assets/images/arm_logo.png
							--alt ARM Logo
						%}
                </li>
                <li class="list-inline-item">
                    {% picture icon assets/images/osh_logo.png
							--alt open source hardware Logo
						%}
                </li>
                <li class="list-inline-item">
                    {% picture icon assets/images/Linux_logo.png
							--alt Linux Logo
						%}
                </li>
                <li class="list-inline-item">
                    {% picture icon assets/images/python_logo.png
							--alt Python Logo
						%}
                </li>
                <li class="list-inline-item">
                    {% picture icon assets/images/qt_logo.png
							--alt Qt Logo
						%}
                </li>
                <li class="list-inline-item">
                    {% picture icon assets/images/wifi_logo.png
							--alt Wifi Logo
						%}
                </li>
            </ul>
        </div>
    </div>
</div>